.back-to-top {
    width: 92px;
    height: 92px;
    position: fixed;
    right: 6vw;
    bottom: 11vh;
    bottom: 100px;
    padding: 4px;
    opacity: 0;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    clip-path: polygon(0 32px,32px 0,calc(100% - 32px) 0,100% 32px,100% calc(100% - 32px),calc(100% - 32px) 100%,32px 100%,0 calc(100% - 32px));
    background-color: rgba(255, 240, 240, 0.5);
    
}

.back-to-top:hover {
    filter: drop-shadow(0 0 10px #ffffff);
}

.show {
    opacity: 1;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    .back-to-top {
        display: none;
    }
}