.back-to-top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 6vw;
    bottom: 11vh;
    bottom: 100px;
    padding: 4px;
    opacity: 0;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

.back-to-top:hover {
    filter: drop-shadow(0 0 10px #ffffff);
}

.show {
    opacity: 1;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    .back-to-top {
        display: none;
    }
}